{% extends 'base.html' %}
 
{% block title %} Users {% endblock %}


<h1>Users</h1>

<ul>
    {% for user in users %}
    <li> 
        <a href="/users/{{user.id}}">{{user.full_name}} </a></li>
    {% endfor %}
</ul>
<!-- <h2> Add User </h2>
<form action="" method="POST">
    <p> First Name <input type="text" name="first_name" id="" placeholder="Enter a first name"></p>
    <p> Last Name <input type="text" name="last_name" id="" placeholder="Enter a last name"></p>
    <p> Image URL <input type="text" name="img_url" id="" placeholder="Provide an image of this user"></p>
    <button>Add</button>
</form> -->

{% endblock%}




  
  